/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
 
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 

   
    
 }
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
	.feed_post_photo {
		float: none;
		margin: auto;
	}
	.feed_post_user {
		text-align: center;
	}
	.feed_post_content p {
		text-align: center;
	}
	.post_like a {
		font-size: 14px;
		margin: 5px 0;
		padding: 0 5px;
	}
	.post_like a i.fa {
		font-size: 20px;
	}

}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

 }