<footer>
	<div class="container">
		<ul>
			<li><a href="javascript:void(0)" (click)="SetMainCityFeed()"><i class="fa fa-rss"></i></a></li>
			<li><a href="javascript:void(0)"><i class="fa fa-bolt"></i></a></li>

			<li>
				<a href="javascript:void(0)" (click)="SetCommunitySearch()"><i class="fa fa-users"></i>
						<span class="comment_count">1</span>
					</a>
			</li>
			
			<li><a href="javascript:void(0)"><i class="fa fa-user"></i></a></li>
			<li><a href="javascript:void(0)"><i class="fa fa-wrench"></i></a></li>			
		</ul>
	</div>
</footer>