

<div class="memmber_group" >
  <div class="single_item" >
    <div (click)="navigate()"><img src="{{Image}}" alt="meber flaug" ></div>
    <div class="content" >
      <div (click)="navigate()"><h3 >{{Name}}</h3></div>
    </div>


    <div *ngIf="AlreadyMember == 'false'">
      <button class="btn btn-link" (click)="addUserToCommunity()">Add</button>
    </div>

    <div *ngIf="AlreadyMember == 'true'">
      <button class="btn btn-link" (click)="removeUserFromCommunity()">Remove</button>
    </div>
  </div>
</div>
