
<!-- 
		Header
	========================================= -->
<header>
  <div class="container headerText">
    Add Friends<div class="AddIconRight" (click)="navigateToFeed()"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
  </div>

</header>
<!-- 
		Friends List
	========================================= -->
<section id="communiti_list">
  <div class="container">
    <div class="login_form">
      <form action="#" method="post">
        <div class="search_feild">
          <input class="form-control" type="search" name="search" id="search" value="" placeholder="lookup bud!..." [(ngModel)]="searchVal"
            [formControl]="searchInput">
          <button type="submit"><i class="fa fa-search" (click)="searchUsers()"></i></button>
        </div>
      </form>
    </div>


    <div *ngFor="let item of userItems">
        <user-search-item ID="{{item.id}}" Name='{{item.firstName + " " + item.lastName}}' Image='{{item.imageURL}}' AlreadyMember='{{item.alreadyMember}}'
        (UserAction)="userAddedorRemoved()"></user-search-item>     
    </div>
  </div>
</section>