
<div class="heading">
  <h1>{{title}}</h1>
</div>
<div class="col-md-6">
  <div class="UpLoadingVideo">
    <div class="TopVideo">
      <img src="{{mediaURL}}" alt="">
      
    </div>
    <div class="upload-info">
      <postOwnerDetails ></postOwnerDetails>

      <div class="Comment-info">
        <cardAction cardLikeCount="{{likeCount}}" cardDislikeCount="{{dislikeCount}}" cardCommentCount="0"
          cardTotalViews="0" minimizeView="true"></cardAction>
      </div>
    </div>
  </div>

</div>


<postCommentView></postCommentView>
