

<section id="navigation">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="logo-3">
                <a href="#"><img src="img/logo.png" alt="" /></a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="img-video text-center">
                <a href="#"><i class="fa fa-camera-retro"></i> Images</a>
                <a href="#"><i class="fa fa-video-camera"></i> video</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="social text-right">
                <ul>
                    <li>
                        <a href="#"><img src="img/p3/h-social-icon.png" alt="" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="img/p3/h-social-icon2.png" alt="" /></a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Smo hammoudou</span>

                            <img src="img/p3/user-img.png" alt="" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>
<section id="p2-body">
    <div class="container">

        <div class="row">
            <cardViewEdit></cardViewEdit>

        </div>
    </div>
</section>