<div class="comments">
  <ul class="media-list">
    <li class="media">
      <div class="media-left">
        <a href="#"><img class="media-object" src="img/NewPost/comment/1.jpg" alt="..."></a>
      </div>
      <div class="media-body">
        <p>
          <strong>adam steve</strong> It is fantastic festival but for rich people, only they can reach there not like me......
        </p>
        <ul class="comments_reply">
          <li><a href="#">Like</a></li>
          <li><a href="#">Reply</a></li>
          <li><a href="#">March 2 at 8:38pm</a></li>
        </ul>
        <div class="media">
          <div class="media-left media-middle wow fadeInUp">
            <a href="#"><img class="media-object" src="img/NewPost/comment/2.jpg" alt="..."></a>

          </div>
          <div class="media-body">
            <p>
              <strong>adam steve</strong> Just Kidding ...
            </p>
            <ul class="comments_reply">
              <li><a href="#">Like</a></li>
              <li><a href="#">Reply</a></li>
              <li><a href="#">March 2 at 8:38pm</a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>