<!-- Header -->


<header>
  <div class="container headerText">
    Add/ Modify a Community

  </div>
</header>

<section id="communiti_list">
  <div class="container">
    <div class="communiti_form">
      <form [formGroup]="communityForm" novalidate (ngSubmit)="saveCommunity(communityForm.value, communityForm.valid)">
        <div class="form-group">

          <label for="name"><i class="fa fa-users"></i> Name your Community</label>
          <input type="text" class="form-control fa fa-users" id="name" placeholder="What is the name of you Community?" formControlName="name">
        </div>
        <div class="form-group">
          <label for="text_area"><i class="fa fa-file-text-o"></i> Describe your Community</label>
          <textarea class="form-control" id="description" placeholder="What will this community be about?" formControlName="description"></textarea>
        </div>


        <div class="form-group">
          <label for="text_area"><i class="fa fa-camera"></i> Uplaod a picture </label>
          <div class="fileUpload btn btn-primary">
            <span>{{uploadMessage}}</span>
            <input type="file" class="upload" (change)="fileChange($event)" />
          </div>
          <div *ngIf="uploaded">Uploaded! ready to save</div>
        </div>


        <button type="submit" class="btn btn-default">Next <i class="fa fa-arrow-circle-o-right"></i></button>
      </form>
      <div class="Pagination">
        <ul>
          <li class="active">
            <a href="#"></a>
          </li>
          <li>
            <a href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div *ngIf="isUploadingImage">
  <div id="loadingOverlay" class="loader-overlay">
    <div class="loader-content loader-center">
      Uploading Please wait!..
      <sk-chasing-dots></sk-chasing-dots>

    </div>
  </div>

</div>